@model TestApp.Library.DAL.Models.CustomFiles

<h1>Delete File</h1>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="customfile_id" />
    <input type="hidden" asp-for="path" />
    <dl>
        <dt>Description:</dt>
        <dd>@Model.description</dd>

        <dt>Path:</dt>
        <dd>@Model.path</dd>
    </dl>
    <input type="submit" class="btn btn-success" value="Cancel" />
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>

<a asp-action="Index">Back to list</a>