@model TestApp.Library.DAL.Models.CustomFiles

    <dl>
        <dt>Description:</dt>
        <dd>@Model.description</dd>

        <dt>Path:</dt>
        <dd>@Model.path</dd>
    </dl>


<a asp-action="Index" class="btn btn-secondary" >Back to list</a>