header{
    height: 150px;
    background-color: #333333;
    color: #C0BAB6 ;
}
body{   
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
}
footer{
    background-color: #232323;
    color:#919191;
    height: 50px;
}
.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    max-width: 1000px;
    margin: 0 auto;
}
.header-nav>ul>li{
    display: inline-block;
    margin:0 10px;
    font-size: medium;
    justify-content: space-around;
}
.main-nav>ul>li{
    display: inline-block;
    margin:0 auto;
    justify-content: space-between;
    font-size: 13px;
    max-width: 1000px;
    padding-right: 22px;
}
.headerul{
    background-color: #232323;
}
li {
        list-style: none;
}
main{
    color: #979797;
}
footer a {
color: #919191;
}
main a{
    color: #FF9900;
}
a{
    outline: none;
    text-decoration: none;
    color: #C0BAB6 ;
}

img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.right-column{
    display: grid;
    justify-content: right;
    align-items: center;
    height: inherit;
    max-width: 1000px;
    margin: 20px auto;
} 

.main-bottom{
    display: grid;
    width: 960px;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
}
.article{
    display: flex;
    flex-direction: column;
}
.article-horizontal{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    color: #979797;
}
.right{
    float: right;
    width: 280px;
    font-size: 15       px;

}
.h2title{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEDEDE;
}

