@model TestApp.Library.DAL.Models.Cars_Yair

<h1>Add Car</h1>



<form asp-action="Add" method="post">

    <input asp-for="make" type="text" placeholder="Make" />
    <input asp-for="model" type="text" placeholder="Model" />
    <input asp-for="year" type="number" placeholder="Year" />

    <input type="submit" class="btn btn-success" value="Save" />
</form>

<a asp-action="Index">Back to list</a>