@model List<TestApp.Library.DAL.Models.Cars_Yair>
@{ ViewData["Title"] = "Cars"; }

<div class="text-center">
    <h1 class="display-4">Cars</h1>
</div>

@foreach (var car in Model)
{
<partial name="CarPV" model="car" />}